__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*_cache
.DS_Store
**/registry_permanency_files/
.coverage
.vscode
*.hdf5
# LCM Logger artifacts
*.log

# Plotting artifacts
*.pickle
*.png
