__pycache__/
*.py[oc]
build/
wheels/
*.egg-info
.venv
.*_cache
.DS_Store
**/registry_permanency_files/
.coverage*
.vscode
*.hdf5
# LCM Logger artifacts
*.log
.idea/

# Plotting artifacts
*.pickle
*.png
metadata.yaml
*.db3
*.mcap

# Artifacts from building the docs
docs/images/

### Cobra GUI Frontend
# Site packages assets
branding/
*.ico
# Build artifacts
node_modules
pntos-cobra/src/pntos/cobra/advanced_plugins/ui/_static/dist/*